@{
    ViewBag.Title = "O que fazemos:";
}
<h2>@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>-->

<br />
<br />
<p><b>Programação backend:</b></p>
<ul>
    <li>
        <p>C#</p>
        <p>SQL Server</p>
    </li>
</ul>
<br />
<br />
<p><b>Programação frontend:</b></p>
<ul>
    <li>
        <p>HTML5</p>
        <p>CSS</p>
        <p>Javascript</p>
        <p>MVC</p>
        <p>WebAPI</p>
    </li>
</ul>