@{
    ViewBag.Title = "Contato:";
}
<h2>@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>-->

<br />
<br />
<address>
    <b>Eduardo Rodrigues Development</b><br />
    Porto, 4100-175<br />
    <abbr title="Celular">Tel:</abbr>
    (+351) 913712340
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:edamrodrigues@hotmail.com">edamrodrigues@hotmail.com</a><br />
    <strong>Geral:</strong> <a href="mailto:edamrodrigues1@gmail.com">edamrodrigues1@gmail.com</a>
</address>