@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <h1 style="text-align:right;">Livro de Receitas</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>&ensp;&ensp;&ensp;&ensp;Receitas Diversas</h2>
        <p>
            Receitas EARod é um aplicativo desenvolvido
            durante o curso Power Code em que demonstramos
            como usar o Entity Framework 6 em um aplicativo
            da web ASP.NET MVC 5.
        </p>
    </div>
    <h2>&ensp;&ensp;&ensp;&ensp;Fotos de Receitas</h2>
    <div class="col-md-4">

    <p>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Aqui pode ver fotos de diversas receitas.</p>
    <p>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<a class="btn btn-default" href="https://pixabay.com/pt/images/search/receitas/">Clique para visualizar &raquo;</a></p>
    </div>

</div>
